*{
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body{
	background:   rgb(248, 248, 248) !important;
}
header .hotline{
	padding-top: 10px;
	background: #51931B;
	
	box-sizing: border-box;
}
header .hotline .follow{
	color #fff;
	float: left;
}
header .hotline .follow li {
	display: inline-block;
	margin: 0 3px;
}
header .hotline .follow li a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #fff;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	transition: all .5s;
}
header .hotline .follow li a i{
	color: #51931B;
	font-size: 15px;
}

header .hotline .follow li a:hover{
	background: #51931B;
}
header .hotline .follow li a:hover i{
	color: #fff;
}


header .hotline .my-hotline{
	font-size: 16px;
	float: right;
}
header .hotline .my-hotline li {
	display: inline-block;
}
header .hotline .my-hotline li:nth-child(even){
	margin: 0 30px;
}
header .hotline .my-hotline li a {
	font-weight: bold;
	color: #fff;
	padding-top: 5px;
	text-align: center;
	display: inline-block;
	transition: all .5s;
}
header .hotline .my-hotline li a i{
	padding-right: 5px;
	font-size: 20px
}
header .hotline .my-hotline li select{
	background: #51931B;
	border: 1px solid #51931B;
	color: #fff;
	font-weight: bold;
}
header .hotline .my-hotline li select option{
	color: #fff;
	font-weight: bold;
}
/*==========het-hotline=========*/
header .menu-top{
	background:   rgb(248, 248, 248);
}
header .nav-menu {
	height: 5rem;
	width: 100%;
	line-height: 5rem;
	text-transform: uppercase;
	/* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2); */
}
header .nav-menu .logo{
	margin-top: -37px;
	margin-left: -10px;
}
header .nav-menu ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	margin-right: -20px;
	margin-left : -20px;
}
header .nav-menu .nav-link {
	font-weight: bold;
	font-size: 15px;
	font-weight: 600;
	padding: 0 10px;
	display: block;
	color: #EC0A00;
	position: relative;
	transition: all 0.5s;
}
header .nav-menu .active{
	color: #51931B;
}
header .nav-menu .login{
	font-weight: bold;
	background:#51931B;
	padding: 8px 40px ;
	color: #fff;
	border-radius: 40px

}
header .nav-menu .cart{
	position: relative;
}
header .nav-menu .cart i{
	font-size: 30px;
	margin-top: 25px;
	margin-left: 15px;
	color: #EC0A00;
}
header .nav-menu .cart .count{
	position: absolute;
	top: 15px;
	left: 40px;
	background:#EC0A00; 
	border-radius: 50%;
	padding: .25em .5em;
}
/*=====menu-header==========*/