*{
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body{
	background:   rgb(248, 248, 248) !important;
}
header .hotline{
	padding-top: 10px;
	background: #51931B;
	
	box-sizing: border-box;
}
header .hotline .follow{
	color #fff;
	float: left;
}
header .hotline .follow li {
	display: inline-block;
	margin: 0 3px;
}
header .hotline .follow li a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #fff;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	transition: all .5s;
}
header .hotline .follow li a i{
	color: #51931B;
	font-size: 15px;
}

header .hotline .follow li a:hover{
	background: #51931B;
}
header .hotline .follow li a:hover i{
	color: #fff;
}


header .hotline .my-hotline{
	font-size: 18px;
	float: right;
}
header .hotline .my-hotline li {
	display: inline-block;
}
header .hotline .my-hotline li:nth-child(even){
	margin: 0 30px;
}
header .hotline .my-hotline li a {
	font-weight: bold;
	color: #fff;
	text-align: center;
	display: inline-block;
	transition: all .5s;
}
header .hotline .my-hotline li a i{
	padding-right: 5px;
	font-size: 20px
}
header .hotline .my-hotline li select{
	background: #51931B;
	border: 1px solid #51931B;
	color: #fff;
	font-weight: bold;
}
header .hotline .my-hotline li select option{
	color: #fff;
	font-weight: bold;
}
/*==========het-hotline=========*/
header .menu-top{
	background:   rgb(248, 248, 248);
}
header .nav-menu {
	height: 5rem;
	width: 100%;
	line-height: 5rem;
	text-transform: uppercase;
	/* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2); */
}
header .nav-menu .logo{
	margin-top: -37px;
	margin-left: -10px;
}
header .nav-menu ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	margin-right: -20px;
	margin-left : -20px;
}
header .nav-menu .nav-link {
	font-weight: bold;
	font-size: 15px;
	font-weight: 600;
	padding: 0 10px;
	display: block;
	color: #EC0A00;
	position: relative;
	transition: all 0.5s;
}
header .nav-menu .active{
	color: #51931B;
}
header .nav-menu .login{
	font-weight: bold;
	background:#51931B;
	padding: 8px 40px ;
	color: #fff;
	border-radius: 40px

}
header .nav-menu .cart{
	position: relative;
}
header .nav-menu .cart i{
	font-size: 30px;
	margin-top: 25px;
	margin-left: 15px;
	color: #EC0A00;
}
header .nav-menu .cart .count{
	position: absolute;
	top: 15px;
	left: 40px;
	background:#EC0A00; 
	border-radius: 50%;
	padding: .25em .5em;
}
/*=====menu-header==========*/
/*============slide============*/
.slick-banner{
	position: relative;
	width: 100%;
	max-height: 80vh;
	overflow: hidden;
}
.slick-banner img{
	object-fit: cover;
	z-index: -1;
}
.carousel-item-slide{
	position: relative;
	text-align: center;
}
.carousel-item-slide:before {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	content: '';
	z-index: 2;
}
/*.img-banner{
	width: 100%;
	height: 530px;
 background-size: cover;
 background-repeat:  no-repeat;
 background-position: center center;
 }*/
 .carousel-item-slide .caption{
 	text-align: center;
 	position: absolute;
 	right: 20%;
 	top: 25vh;
 	left: 20%;
 	z-index: 10;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	color:   rgb(248, 248, 248);
 }
 .carousel-item-slide .bg-img-slide{
 	width: 100%;
 }
 .carousel-item-slide .caption h1{
 	font-size: 50px;
 	font-weight: 200;
 }
 .carousel-control {
 	position: absolute;
 	bottom: 40%;
 	z-index: 2;
 	width: 51px;
 	height: 51px;
 	opacity: 0.5;
 	overflow: hidden;
 	text-align: left;
 	transition: all 0.3s ease 0s
 }
 .carousel-control i{
 	font-size: 50px;
 	color:   rgb(248, 248, 248);
 }
 .carousel-control i:hover{
 	color: black;
 }
 .slick-banner .right {
 	right: 1%;
 	top: 45%;

 }
 .slick-banner .left {
 	left: 3%;
 	top: 45%;
 }

 .dot-slick{

 	position: absolute;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	z-index: 2;
 	display: -ms-flexbox;
 	display: flex;
 	-ms-flex-pack: center;
 	justify-content: center;
 	padding-left: 0;
 	margin-bottom: 1px;
 	list-style: none;
 }
 .dot-slick li {
 	box-sizing: content-box;
 	-ms-flex: 0 1 auto;
 	flex: 0 1 auto;
 	width: 30px;
 	height: 3px;
 	margin-right: 3px;
 	margin-left: 3px;
 	text-indent: -999px;
 	cursor: pointer;
 	background-color: #fff;
 	background-clip: padding-box;
 	border-top: 5px solid transparent;
 	border-bottom: 5px solid transparent;
 	opacity: .5;
 	transition: opacity 0.6s ease;
 }
 .dot-slick .slick-active{
 	opacity: 1;
 }
 .carousel-caption {
 	position: absolute;
 	right: 20%;
 	bottom: 15%;
 	left: 20%;
 	z-index: 10;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	color: #fff;
 	text-align: left;
 }
 .button-link{
 	background: #EC0A00;
 	border: #EC0A00;
 }
 .button-link:hover{
 	background: #51931B;
 	transition: all 0.4s;
 	border: 1px solid #51931B;
 }
 /*========het slide========*/
 /*==========order==========*/
 .order{
 	box-sizing: border-box;
 	overflow: hidden;
 }
 .order img{
 	width: 100%;

 }


 .create-menu {
 	width: 100%;
 	float: left;
 	position: relative;
 	border-radius: 5px;
 	overflow: hidden;
 	cursor: pointer;
 }

 .create-menu .content{
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	padding: 50px 10px 0 10px;
 }
 .create-menu .content:before{
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	background-color: rgba(0, 0, 0, 0.5);
 	content: '';
 	z-index: 0

 }
 .create-menu .item{
 	margin-bottom: 50px;
 }
 .create-menu .menu-item{
 	color: #fff;
 	border:  2px solid #51931B;
 	padding: 8px 15px;
 	border-radius: 40px;
 	transition: all 200ms;
 }
 .create-menu .menu-item:hover{
 	background:#51931B;
 }
 .create-menu:hover img{
 	transform: scale(1.3);
 	animation: scale 2s ;
 }
 @keyframes scale{
 	0%{
 		transform: scale(1);
 	}
 	100%{
 		transform: scale(2);
 	}
 }
 .order .book-menu{
 	position: absolute;
 	bottom: 10px;
 	text-align: center;
 	width: 100%;
 	margin: auto;
 }
 .order .book-menu .book-menu-item{
 	margin: 7% auto 0px auto;
 	background: #EC0A00;
 	color: #fff;
 	border-radius: 10px;
 	text-transform: uppercase;
 	padding: 10px 30px;
 	z-index: 1;
 	font-weight: 600;
 }
 .order .book-menu-item i{
 	padding-right: 10px
 }
 .create-menu{
 	margin-bottom: 20px;
 	border: 10px  solid #51931B;
 }
 /*///het cac order*/

 .search-product{
 	margin :30px 0;
 	box-sizing: border-box;
 }
 .search-product .search-by-food{
 	background: #fff;
 	padding: 10px 30px;
 	border: 1px solid #51931B;
 	box-shadow: 0px 5px 10px #51931B;
 }
 .search-by-food  #search{
 	position: relative;
 }
 .search-by-food .icon-search{
 	position: absolute;
 	right: 10px;
 	top: 5px;
 	z-index: 100000;

 }
 .search-by-food .icon-search a{
 	color: #51931B;
 }
 .search-by-food .category-food{
 	margin: 10px 0;
 }
 .search-by-food .category-food a{
 	font-size: 20px;
 	color: #51931B;
 }
 .search-by-food .category-food a i {
 	padding-right: 30px;
 	margin-left: -15px;
 }
 .search-product .food-menu{
 	display: none;
 }


 .search-product .toggle-menu{
 	cursor: pointer;
 }
 .search-product .toggle-menu:hover{
 	color: #EC0A00;
 }
 .search-product .food .nav-menu{
 	list-style: none;
 	box-sizing:border-box;
 	background: #fff;
 	/* max-width: 129px;*/
 }
 
 .search-product .food ul .nav-item .nav-link{
 	color: #000;
 	border: 1px solid #51931B;
 	max-width: 127px;
 	position: relative;

 }
 .search-product .food ul .nav-item .nav-link:hover{
 	background:  #51931B;
 	color: #fff;
 	transition: all 0.4s;
 }


 .search-product .food ul  .nav-item-has-children{
 	position: relative;
 }
 .search-product .food ul .nav-item-has-children:hover .nav-link:before {
 	border-left: 20px dashed #51931B;
 	border-top: 20px solid transparent;
 	border-bottom: 20px solid transparent;
 	position: absolute;
 	right: -21px;
 	content: "";
 	display: inline-block;
 	margin-top: -8px;
 	margin-left: -8px;
 }
 .search-product .food ul  .nav-item-has-children .sub-menu {
 	position: absolute;
 	z-index: 999;
 	left: 146px;
 	background: #fff;
 	z-index: 1000;
 	right: 0;
 	top:0;
 	border: 1px solid blue;
 	list-style: none;
 	display: none;
 }
 .search-product .food ul  .nav-item-has-children:hover .sub-menu{
 	display: inline-block;
 	transition: all 0.4s;
 }
 .search-product .food ul .nav-item-children{
 	margin-bottom: 20px
 }
 .search-product .food ul .nav-item-children .title{
 	color: #000;
 	font-weight: 600;
 	text-transform: uppercase;
 	font-size: 16px;
 	background: none;
 }

 .search-product .food ul .nav-item-children ul{
 	list-style: none;
 	margin-left: 14px
 }
 .search-product .food ul .nav-item-children ul li {
 	padding: 5px 0;
 }
 .search-product .food ul .nav-item-children ul li a{
 	color: #000;
 }
 .search-product .food ul .nav-item-children ul li a:hover{
 	color: #51931B;

 }
 .search-by-food .book-food{
 	color: #51931B;
 	font-weight: bold;
 	display: flex;
 	justify-content: space-between;
 }

 .search-by-food .book-food a{
 	margin-top: -10px;
 	text-transform: uppercase;
 	background: #EC0A00;
 }
 .search-by-food .note{
 	color: #EC0A00;
 	font-size: 12px;
 	font-weight: bold;
 	display: flex;
 	justify-content:flex-end;
 	margin-top: 20px
 }
 .search-by-food .note i{
 	padding-right: 10px;
 	font-size: 14px;
 }

 /*--------het search-----------*/

 .food{
 	color: #000;
 }
 .food .title{
 	width: 100%;
 	color: #fff;
 	background:#51931B;
 	text-align: center;
 	font-weight: bold;
 	padding: 10px 0;
 }
 .food .category-food{
 	margin-left: -28px;
 	background-color: #fff;
 	list-style: none;
 	display: flex;
 	justify-content: space-evenly;
 	padding: 10px 0;
 }
 .category-food a:hover{
 	text-decoration: none;
 	color: #51931B;
 }
 .category-food  li a{
 	color: #000;
 }
 .category-food  .active a{
 	color: #51931B
 }
 .category-food li a i {
 	padding-left: 61px;
 	margin-right: 0px;
 }
 .category-food  .menu-child ul{

 	list-style: none;
 	position: absolute;
 	background: #fff;
 	padding-top: 10px;
 	display: none;
 	z-index: 1000;

 }
 .menu-child ul li a{
 	padding-right: 70px;
 	padding-left: 10px;
 	line-height: 20px;

 }
 .category-food  .menu-child:hover ul{
 	display: block;
 }
 .category-food  .menu-child:hover ul a:hover{
 	background: #51931B;
 	color:#fff;
 }
 .product .thumbnail{
 	background:#fff;
 	padding: 2px;
 	border: 1px solid #51931B;
 	box-shadow : 2px 2px 10px #51931B;
 	border-radius: 5px;
 	box-sizing: border-box;
 }

 .danh-sach-food .thumbnail img{
 	height: 250px;
 	object-fit: cover;
 }
 .danh-sach-food  .product .action-product{
 	position: absolute;
 	top: 4%;
 	 right :0;
 	 transform: translateX(50px);
 	  transition: all 0.5s ease-in-out;
 	opacity: 0;
 }
 .danh-sach-food  .product .action-product .view{
 	margin: 10px 0;
 }
 .danh-sach-food  .product .action-product .favourite{
 	margin: 10px 0;
 	cursor: pointer;
 }
 .danh-sach-food  .product .action-product .view a{
 	color: #fff;
 	padding: 10px 20px;
 	font-size: 18px;
 }
 .danh-sach-food  .product .action-product .view a:hover{
 	color: #EC0A00;
 }
 .danh-sach-food  .product .action-product .favourite a{
 	color: #fff;
 	font-size: 18px;
 	padding: 10px 20px;
 }
 .danh-sach-food  .product .action-product .favourite a:hover{
 	color: #EC0A00;
 }
 .danh-sach-food  .product .image:hover .action-product{
	  opacity: 1;
	   transform: translateX(0px);
    transition: all 0.5s ease-in-out;
 }

 .danh-sach-food  .product .add-cart a{
 	overflow: hidden;
 	position: absolute;
top: 49%;
transform: translateY(50px);
   	left: 0;
    background-color: rgba(34, 34, 34, 0.863);
    color: #fff;
    display: block;
    width: 100%;
    padding: 0.4rem 0.5rem;
    text-align: center;
    border: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
 }
 .danh-sach-food  .product .add-cart a{
 	/*color: #fff;*/
 	
 	font-size: 16px;
 	color: #fff;
 }
 .img-fluid{
 	width:100%;
 	object-fit: cover;
 }
 .danh-sach-food  .product .add-cart a:hover{
 	color: #EC0A00;

 }
 .danh-sach-food  .product .add-cart a i{
 	font-size: 25px;
 }
 .danh-sach-food  .product .add-cart a span{
 	padding-left: 30px;
 }
 .danh-sach-food  .product .image:hover .add-cart a{
 	transform: translateY(0px);
 	 opacity: 1;
 	 transition: all 0.5s ease-in-out;
 }

 h6{
 	font-weight: bold !important;
 }
 .danh-sach-food{
 	margin-bottom: 30px;

 }
 .danh-sach-food .thumbnail .caption{
 	text-align: center;
 	font-weight: bold;
 	margin-top: 20px
 }
 .danh-sach-food .thumbnail .new{
 	height: 50px;
 	width: 50px;
 	position: absolute;
 	right:0;
 	top: -13px;
 	transform: rotate(15deg);
 }
 .danh-sach-food .product{
 	padding: 0 15px
 }
 .danh-sach-food .price{
 	text-decoration: line-through;
 }
 .slick-product .right{
 	right: -40px
 }
 .slick-product .left{
 	left: -12px;
 }
 .slick-product .carousel-control i{
 	color: #EC0A00;
 }
 .slick-product .carousel-control i:hover{
 	color: #51931B;
 }

 /*   ===banner-food-===*/
 .banner-food{
 	margin: 30px 0;
 }
 .banner-food .create-menu {
 	border: none;
 }
 /*   ========đối tac-==========*/
 .doi-tac .title{
 	text-align: center;
 	margin : 50px 0;
 }
 .doi-tac .title h3{
 	font-size: 30px;
 	color: #51931B;
 	font-weight: bold;
 	text-transform: uppercase;
 }
 .doi-tac {
 	text-align: center;
 	display: flex;
 	justify-content: space-evenly;
 	margin-bottom: 50px;
 }
 .doi-tac img{
 	margin-right: 60px;
 	margin-bottom: 30px
 }
 .slick-prev:before,
 .slick-next:before {
 	color: white;
 	font-size: 14px !important;
 	padding: 5px !important;;
 	border-radius: 50% !important;;
 	background: red !important;;
 }

 /*///////footer*/
 footer{
 	background: url('../image/bg-footer.jpeg') ;
 	background-size: cover;
 	background-repeat: no-repeat;
 	padding-top: 40px;
 	position:relative;
 	color: rgb(248, 248, 248);
 }
 footer:before{	
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	background-color: rgba(0, 0, 0, 0.5);
 	content: '';
 }
 footer .follow li {
 	display: inline-block;
 	margin: 0 3px;
 }
 footer .follow li a {
 	width: 30px;
 	height: 30px;
 	line-height: 30px;
 	border-radius: 50%;
 	background: #fff;
 	border: 1px solid #fff;
 	text-align: center;
 	display: inline-block;
 	font-size: 14px;
 	transition: all .5s;
 }
 footer .follow li a i{
 	color: #51931B;
 	font-size: 15px;
 }
 footer .follow li a:hover{
 	background: #51931B;
 }
 footer .follow li a:hover i{
 	color: #fff;
 }
 footer .title{
 	color: #fff;
 	text-transform: uppercase;
 	font-weight: bold;
 	font-size: 18px
 }
 footer ul{
 	list-style: none;
 }
 footer ul li{
 	margin-top: 15px
 }
 footer ul a{
 	color: rgb(248, 248, 248);
 }
 footer ul a:hover{
 	color: #51931B;
 }
 .view-all{
 	margin-top: 10px
 }
 .view-all a{
 	font-size: 13px
 }