header .bar,
header .bar::before,
header .bar::after{
	content: '';
	position: absolute;
	width: 1.7rem;
	height: 2px;
	background-color: #00b400;
	top: 0;
	left: 0;
	right: 30px;
	bottom: 0;
	margin: auto;
	transition: all 650ms;
	z-index: 100
}
.menu-mobile{
	position: absolute;
	right: 37px;
	top: 17px;
	    padding: 23px;
	display: none;
}
.menu-mobile .bar::before{
	top: -1.2rem;
}
.menu-mobile .bar::after{
	top: 1.2rem;
}
 .open .bar{
	background: transparent;
}
 .open .bar::before {
	transform: rotate(-45deg);
	
} 
.open .bar::after {
	transform: rotate(45deg);
	
}
 .open .bar::before,.open .bar::after {
	top: 0;
}
@media screen and (min-width: 768px) and (max-width: 1200px){

	.create-menu .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 10px 0 10px;
}
header .nav-menu .nav-link{
	padding: 0px 0px;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px){

.create-menu .menu-item{
	padding: 8px 3px
}
}
@media screen and (max-width:990px) {
	header .hotline .my-hotline li:nth-child(even) {
    margin: 0 0 0 10px;
}
	.create-menu .menu-item{
	padding: 8px 10px
}
	.menu-mobile{
		display: block;
	}
	header .nav-menu .logo{
    margin: -25px auto 0 auto;
	}
	header .nav-menu{
		line-height: 50px;
		    height: auto
	}
	header .nav-menu ul{
		background : #fff;
		border: 1px solid #00b400;
		position: absolute;
	top: 70px;
	right: 20px;
	z-index: 1000000000;
	display: block;
	width: 290px;
	animation: fade 2s ;
	}
	header .nav-menu ul li a{
	border-bottom: 1px solid #e5e5e5;
	margin-left: 10px;
	}
	#top-menu-nav{
display: none;
	}
	.open{
		display: block !important;
	}
@keyframes fade {
	0%{
		right: -400px;
	}
	100%{
		right: 20px;
	}
}

.slick-banner{
	height:auto;
}

 .carousel-item-slide .caption h1 {
    font-size: 20px;
    font-weight: 200;
}
 .food .category-food{
 	display: inline-block;
 	text-align: center;
 	 	margin-left:  0;
 }
  .category-food li{
  	display: inline-block;
  	padding: 10px
  }
 .category-food li a i{
 	margin-right: 10px;
 	padding-left: 0
 }
  .category-food  .menu-child ul{
	position: absolute;
	text-align: center;
	left: 30%;
		z-index: 10000
  }
  .category-food  .menu-child ul li{
  	display: block;
  }
  	.food .category-food {
    margin-left: -27px;
}

}

@media screen and (max-width: 320px){
		header .hotline .my-hotline li:nth-child(even) {
    margin: 0 30px 0 0px;
}
.create-menu .menu-item {
    padding: 8px 1px;
}
	.create-menu .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 10px 0 10px;
}
}